<html>
  <title>
    MyMDB Library
  </title>
  <head>
    <link rel= "icon" type="image/x-icon" href="{{ url_for('static',filename='mymdb.ico') }}">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/homepage.css') }}">
  </head>

  <ul>
    <li> 
      <a>
        My Library
      </a>
    </li>
    <div class="search-container">
        <form method="post">
          <input type="text" placeholder="Search.." name="search" value="{{ request.form.search }}">
          <button type="submit">Submit</button>
        </form>
    </div>
      </ul>
  

</html>